@charset "utf-8";

/***************************************************************************/
/*                                             레이아웃 설정					 	  		             /
/***************************************************************************/

/* 애니효과 */
.sa {opacity: 0;transition: all 1.0s ease;}
.sa-up {transform: translate(0, 50px);}
.sa.show {opacity: 1;transform: none;}

/* 전체공통 */
#wrap {position: relative;width: 100%;height: 100%;}

/* header */
header {position: fixed;top: 0;left: 0;z-index:100;width: 100%;height:80px;background-color:rgba(0, 0, 0, 0.6);box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);}

/* menu */
.mobile-container {display:none;}
nav {position: relative;width:1400px;margin:0 auto;height:80px;display: flex;justify-content: space-between;} 
nav .top-logo {width:235px;margin:20px 0 0 0;}
nav .top-logo a {width:235px;height:37px;display:block;background: url("/img/a1/logo_on.png") no-repeat left top;background-size:235px 37px;cursor: pointer;color: transparent;text-indent: -9999px;text-shadow:2px 2px 8px rgb(0, 0, 0, 0.2);}
nav > ul {}
nav > ul > li {position:relative;float:left;padding:0 25px;font-size:0.9em;line-height:1;text-align: center;font-weight:400;text-shadow:2px 2px 8px rgb(0, 0, 0, 0.2);}
nav > ul > li:last-child {padding:0 10px 0 25px;}
nav > ul > li a {color: #fff;display:block;height:80px;padding:32px 0 0 0;}
nav > ul > li a:hover {color:#b2944e;}
nav > ul > li + li {background:url('/img/a1//mline.png') no-repeat 0 33px;}
.menu_icon {display:none;}

/* 스크롤 다운시 고정메뉴영역 */
header.drop {position: fixed;top:0;left: 0;animation: dropHeader 0.3s;background-color: rgba( 255, 255, 255, 1);box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);}
header.drop nav {position: relative;width:1400px;margin:0 auto;height:80px;display: flex;justify-content: space-between;}
header.drop nav.top-logo {width:235px;margin:20px 0 0 0;}
header.drop nav .top-logo a {width:235px;height:37px;display:block;background: url("/img/a1/logo.png") no-repeat left top;background-size:235px 37px;cursor: pointer;color: transparent;text-indent: -9999px;text-shadow:none}
header.drop nav > ul > li {position:relative;float:left;padding:0 25px;font-size:0.9em;line-height:1;text-align: center;font-weight:400;text-shadow:none !important;}
header.drop nav > ul > li:last-child {padding:0 10px 0 25px;}
header.drop nav > ul > li a {color: #333;display:block;height:80px;padding:32px 0 0 0;}
header.drop nav > ul > li a:hover {color:#b2944e;}
header.drop nav > ul > li + li {background:url('/img/a1/mline_on.png') no-repeat 0 33px;}
@keyframes dropHeader {
	0% {top: -5rem;}
   100% {top: 0;}
}

/* footer */
#footer-area {width:100%;background:#191d27;border-top:1px solid rgba(0, 0, 0, 0.5);}
.footer-inner {position:relative;width:1100px;margin:0 auto;padding:0 0 70px 0;display: flex;justify-content: center;} 
.footer-inner .logobox {width:30%;padding:65px 0 0 0;}
.footer-inner .logobox img {width:235px;height:37px;opacity:0.35;}
.footer-inner .cominfo {width:60%;padding:70px 0 0 0;}
.footer-inner .cominfo:after {display: block;content: "";clear: both;}
.footer-inner .cominfo ul {float:left;padding:0 0 10px 0;}
.footer-inner .cominfo ul li {float:left;padding-right:30px;color:#8a8f98;font-size:0.7em;line-height:1.7;}
.footer-inner .cominfo .copy {color:#8a8f98;font-size:0.6em;}
.footer-inner .cominfo .wws {width:100%;padding-top:5px;color:#8a8f98;font-size:0.6em;}
.footer-inner .cominfo .wws img {width:24px;height:8px;margin:5px 0 0 3px;opacity:0.7;}

/* 동영상재생 */
.play_wrap {position:relative;width:100%;height: 100vh;overflow: auto;scroll-snap-type: y mandatory;overflow:hidden;}
.play_wrap video {width:100%;height:100vh;object-fit:cover;}
.play_inner {position:absolute;width: 100%;height:100%;background:rgb(0, 0, 0, 0);z-index:50;}
.play_inner > .inner-txt {width:100%;margin:20% 0 0 0;display: flex;flex-direction: column;justify-content: center;text-align:center;}
.play_inner > .inner-txt .maintxt {font-family: 'SOGANGUNIVERSITYTTF', sans-serif;color:#fff;font-size:3em;letter-spacing:-1.5px;line-height:1.5;font-weight:500;text-shadow:2px 2px 12px rgb(0, 0, 0, 1);}
.play_inner > .inner-txt button {margin:50px auto 0;background:rgb(7, 33, 50, 0.9) url('/img/a1/arrow_btn.png') no-repeat right 26px;border:1px solid #072132;width:240px;line-height:64px;text-align:center;font-weight:300;color:#fff;}


/* 메인 화살표 움직임 */
#scroll-wrap {position:absolute;width:100%;left:50%;bottom:30px;transform:translate(-50%, 0);}
#scroll-wrap > .inner {width:100%;position:relative;height:100px;}
.scroll {color:#fff;font-size:0.8em;letter-spacing:1px;text-align:center;}
.btn-motion4,
.btn-motion4:before {position: absolute;left: 50%;}
.btn-motion4 {width: 40px;height: 70px;margin-left: -20px;top: 50%;margin-top: -35px;box-shadow: inset 0 0 0 2px #fff;border-radius: 25px;}
.btn-motion4:before {content: ''; width: 8px; height: 8px; background: #fff; margin-left: -4px;top: 8px; border-radius: 4px; animation: btn-motion4 1.5s ease-in-out infinite;}
 @keyframes btn-motion4 {
     0% {opacity: 1;}
     100% {opacity: 0;transform: translateY(46px);}
}
 
/* 메인 컨텐츠 */
.section-wrap1 {width:100%;padding:180px 0;background:url('/img/a1/maing_bg1.jpg') no-repeat center center;background-size:cover;}
.section-wrap1 > h2 {text-align:center;font-size:2.4em;color:#fff;line-height:1;letter-spacing:-1.5px;font-weight:500;}
.section-wrap1 > h2 strong {font-weight:500;color:#b2944e;}
.section-wrap1 > .sdtxt {padding-top:20px;text-align:center;font-size:0.9em;color:rgb(255, 255, 255, 0.5);line-height:1.4;}
.section-wrap1 > .innerbox {width:1400px;margin:80px auto 0;display: flex;justify-content: space-between;}
.section-wrap1 > .innerbox > .item {position:relative;width:32%;height:340px;padding:50px 60px;border-radius:10px;background:rgb(0, 0, 0, 0.2);border:1px dashed rgb(255, 255, 255, 0.4);box-shadow:1px 1px 20px rgb(0, 0, 0, 0.8);}
.section-wrap1 > .innerbox > .item > h3 {font-size:1.5em;color:rgb(255, 255, 255, 0.95);font-weight:400;}
.section-wrap1 > .innerbox > .item > .worktxt {padding:10px 0 0 0;font-size:0.9em;color:rgb(255, 255, 255, 0.5);line-height:1.4;}
.section-wrap1 > .innerbox > .item > .iconbox {position:absolute;bottom:50px;right:60px;}
.section-wrap1 > .innerbox > .item > .iconbox img {width:80px;height:80px;}
.section-wrap2 {width:100%;padding:180px 0;background:url('/img/a1/maing_bg2.jpg') no-repeat center center;background-size:cover}
.section-wrap2 > h2 {text-align:center;font-size:2.4em;color:#fff;line-height:1;letter-spacing:-1.5px;font-weight:500;}
.section-wrap2 > h2 strong {font-weight:500;color:#b2944e;}
.section-wrap2 > .sdtxt {padding-top:20px;text-align:center;font-size:0.9em;color:rgb(255, 255, 255, 0.7);line-height:1.4;}
.section-wrap2 > .innerbox {width:1100px;margin:80px auto 0;display: flex;justify-content: space-between;}
.section-wrap2 > .innerbox > .item {width:32%;}
.section-wrap2 > .innerbox > .item-m {display:none;}
.section-wrap3 {width:100%;height:248px;background:url('/img/a1/maing_bg3.jpg') no-repeat center center;background-size:cover;text-align:center;color:#fff;font-family: "Lato", sans-serif;display: flex;flex-direction: column;align-items: center;justify-content: center;}
.section-wrap3 > .calltit {font-size:1.5em;letter-spacing:-1px;padding:0 5px 0 0;font-weight:400;}
.section-wrap3 > .callnum {font-size:3em;font-weight:600;font-size:2.7em;}
.section-wrap3 > .calltime {font-size:1.1em;}

/* 서브페이지 공통 */
.subtopimg1 {position:relative;width:100%;height:400px;display: inline-block;background:url('/img/a1/simg1.jpg') no-repeat center center;background-size:100% 100%;}
.subtopimg2 {position:relative;width:100%;height:400px;display: inline-block;background:url('/img/a1/simg2.jpg') no-repeat center center;background-size:100% 100%;}
.subtopimg3 {position:relative;width:100%;height:400px;display: inline-block;background:url('/img/a1/simg3.jpg') no-repeat center center;background-size:100% 100%;}
.subtopimg4 {position:relative;width:100%;height:400px;display: inline-block;background:url('/img/a1/simg4.jpg') no-repeat center center;background-size:100% 100%;}
.subtopimg5 {position:relative;width:100%;height:400px;display: inline-block;background:url('/img/a1/simg5.jpg') no-repeat center center;background-size:100% 100%;}
.subtopimg-txt {position: absolute;left: 50%;top:50%;width:100%;transform:translate(-50%,-50%);padding:50px 0 0 0;text-align:center;font-size:2.2em;line-height:1;font-weight:400;color:#fff;}

/* 서브페이지 */
#sub-inner {width:1400px;margin:0 auto;padding:120px 0 140px 0;}
#sub-inner h1 {font-size:2.2em;line-height:1;font-weight:600;text-align:center;letter-spacing:-0.5px;}
#sub-inner2 {width:1400px;margin:0 auto;padding:120px 0 140px 0;}
#sub-inner2 h1 {font-size:2.2em;line-height:1;font-weight:600;text-align:center;letter-spacing:-0.5px;}

.about-imgbox {width:100%;}
.about-imgbox-m {display:none;}
.about-wrap {width:100%;padding:100px 0 0 0;display: flex;justify-content: space-between;}
.about-wrap > .left {width:35%;text-align:right;}
.about-wrap > .right {width:62%;border-left:1px solid #efefef;padding:0 80px 0 40px;}
.about-wrap > .right > span {font-size:1.4em;font-weight:500;}
.member-wrap1 {width:1200px;margin:0 auto;display: flex;justify-content: space-between;}
.member-wrap1 > .left {width:550px;}
.member-wrap1 > .left-m {display:none;}
.member-wrap1 > .right {width:50%;padding:0 0 0 50px;}
.member-wrap1 > .right h3 {font-size:1.1em;font-weight:600;}
.member-wrap1 > .right ol { padding:10px 0 46px 0; }
.member-wrap2 {display:none;}
.member-wrap3 {width:1200px;margin:60px auto 0;padding:100px 0 0 0;border-top:1px solid #efefef;display: flex;justify-content: space-between;}
.member-wrap3 > .left {width:550px;}
.member-wrap3 > .right {width:550px;}

/* 탭메뉴 */
#tabnav_wrap-m {display:none;}
#tabnav_wrap {position:absolute;width:1098px;height:66px;bottom: 0;left: 50%;transform: translate(-50%, 0);z-index:99;}
.tabnav {width:100%;height:66px;display: flex;justify-content: center;}
.tabnav li a {width:300px;height:66px;line-height:66px;display:block;text-align:center;font-size:1.05em;font-weight:400;color:#fff;background:#b2944e url('/img/a1/line_menu.png') no-repeat left center;}
.tabnav li a.active {background-color:#fff;color:#333;}
.work-wrap1 {width:1100px;margin:100px auto 0;display: flex;justify-content: space-between;}
.work-wrap1 > .item {width:16%;border:1px solid #2d4182;text-align:center;line-height:50px;color:#2d4182;font-size:1em;font-weight:400;}
.work-wrap2 {width:730px;margin:0 auto;}
.work-wrap2 > h2 {margin-top:100px;font-size:1.36em;font-weight:500;color:#2d4182;}
.work-wrap2 > ul {padding:20px 0 0 0;}
.work-wrap2 > ul li {padding:0 0 15px 0;list-style:disc inside none;}
.work-wrap3 {width:1100px;margin:100px auto 0;display: flex;justify-content: center;}
.work-wrap3 > .item {width:16%;margin:0 4px;border:1px solid #2d4182;text-align:center;line-height:50px;color:#2d4182;font-size:1em;font-weight:400;}

.pro-wrap {width:1100px;margin:0 auto;}
.pro-wrap > h2 {margin-top:140px;font-size:1.7em;font-weight:500;line-height:1;text-align:center;}
.pro-wrap > h3 {margin-top:160px;font-size:1.7em;font-weight:500;line-height:1.5;text-align:center;letter-spacing:-0.5px;}
.pro-wrap > h3 > span {color:#d9441d;letter-spacing:-1px;}
.pro-wrap > .pimgbox1 {margin:50px 0 0 0;padding:80px 0;background:#fbfbfb;text-align:center;}
.pro-wrap > .pimgbox2 {margin:50px 0 0 0;padding:80px 0;background:#fbfbfb;text-align:center;}
.pro-wrap > .pimgbox3 {margin:50px 0 0 0;padding:60px 0 50px 0;text-align:center;}
.pro-wrap > .ptxtbox {padding:50px 0 0 0;}
.pro-wrap > .ptxtbox > span {color:#df5632;}
.talkb-txt {padding:40px 0 0 0;font-size:1.1em;font-weight:400;}

.map-wrap {width:1100px;margin:0 auto;display: flex;justify-content: space-between;}
.map-wrap > .left {width:60%;border-bottom:1px solid #e0e0e0;}
.map-wrap > .right {width:35%;}
.map-wrap > .right  h3 {font-size:1.1em;font-weight:600;}
.map-wrap > .right  ol {padding:8px 0 40px 0;}
.map-wrap > .right  ol:last-child {padding:8px 0 0 0;}
.map-alert {width:1100px;margin:80px auto 0;text-align:center;line-height:1;font-size:1.1em;}


/***************************************************************************/
/*                                    모바일  Layout 설정                                            /
/***************************************************************************/
@media all and (max-width:479px) {

	img {width:100%;}
	input,button,textarea {border-radius:0;} 
	#wrap {font-size:14px;}

	/* header */
	header {display:none;} 
	.mobile-container {display:block;position:fixed;top:0;left:0;width:100%;height:70px;background-color: #fff;z-index:999;box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);}
	.m-logo {width:235px;height:37px;margin:17px 0 0 15px;}
	.m-logo a {width:235px;height:37px;display:block;background: url("/img/a1/logo.png") no-repeat left top;background-size:235px 37px;cursor: pointer;color: transparent;text-indent: -9999px;outline:none;-webkit-tap-highlight-color: rgba(0,0,0,0);}
	.topnav {overflow: hidden;position: relative;}
	.topnav #myLinks {display: none;margin-top:16px;}
	.topnav a {color: white;padding:12px 16px;display: block;}
	.topnav #myLinks a {color: white;background:#363c4c;border-bottom:1px solid rgba(0, 0, 0, 0.3);padding: 15px 20px 15px 22px;font-size: 1em;display: block;outline:none;-webkit-tap-highlight-color: rgba(0,0,0,0);}
	.topnav a.icon {color:#000;display: block;position: absolute;right: 0;top: 7px;font-size:1.4em;height:70px;outline:none;-webkit-tap-highlight-color: rgba(0,0,0,0);}
	.topnav a:hover {color:#000;}
	.dropdown-container {display: none;background-color: #363c4c;font-size:1em;}
	.dropdown-container a {color:#fff !important;font-weight:300 !important;}
	.fa-caret-down {float: right;padding:2px 8px 0 0;}
	.dropdown-btn {padding: 12px 16px;font-size:1em;color: #fff;display: block;width: 100%;text-align: left;cursor: pointer;background:#363c4c;font-weight:300;}
	.dropdown-btn:hover {color: #f1f1f1;}
	.m-active {background-color:#1b923b;color: white;font-weight:400;}

	/* footer */
	.footer-inner {position:relative;width:100%;margin:0 auto;padding:40px 20px;display: flex;flex-direction: column;flex-wrap: wrap;}
	.footer-inner .logobox {width:100%;margin:0 !important;padding:0 !important;}
	.footer-inner .logobox img {width:200px;height:30px;opacity:0.35;}
	.footer-inner .cominfo {width:100%;padding:15px 0 0 0;}
	.footer-inner .cominfo:after {display: block;content: "";clear: both;}
	.footer-inner .cominfo ul {float:left;padding:10px 0 15px 0;}
	.footer-inner .cominfo ul li {float:left;padding-right:20px;color:#8a8f98;font-size:0.8em;line-height:1.6;}
	.footer-inner .cominfo ul li:first-child {width:100%;padding:0;}
	.footer-inner .cominfo .copy {color:#8a8f98;font-size:0.7em;}
	.footer-inner .cominfo .wws {width:100%;padding-top:5px;color:#8a8f98;font-size:0.7em;}
	.footer-inner .cominfo .wws img {width:24px;height:8px;margin:5px 0 0 3px;opacity:0.6;}

	/* 메인 화살표 움직임 */
	#scroll-wrap {position:absolute;width:100%;left:50%;bottom:70px;transform:translate(-50%, 0);}

	/* 동영상 재생 */
	.play_inner > .inner-txt {width:100%;margin:68% auto 0;padding:0 20px;display: flex;flex-direction: column;justify-content: center;text-align:center;}
	.play_inner > .inner-txt .maintxt {font-family: 'SOGANGUNIVERSITYTTF', sans-serif;color:#fff;font-size:1.6em;letter-spacing:-1px;line-height:1.5;font-weight:500;text-shadow:2px 2px 12px rgb(0, 0, 0, 1);}
	.play_inner > .inner-txt button {margin:30px auto 0;background:rgb(7, 33, 50, 0.9) url('/img/a1/arrow_btn.png') no-repeat right 21px;border:1px solid #072132;width:196px;font-size:1.05em;line-height:56px;text-align:center;font-weight:300;color:#fff;}
	
	/* 메인 컨텐츠 */
	.section-wrap1 {width:100%;padding:80px 20px;background:url('/img/a1/maing_bg1.jpg') no-repeat center center;background-size:cover;}
	.section-wrap1 > h2 {text-align:center;font-size:1.7em;color:#fff;line-height:1;letter-spacing:-0.5px;font-weight:400;}
	.section-wrap1 > h2 strong {font-weight:500;color:#b2944e;}
	.section-wrap1 > .sdtxt {padding-top:10px;text-align:center;font-size:0.9em;color:rgb(255, 255, 255, 0.5);line-height:1.4;}
	.section-wrap1 > .innerbox {width:100%;margin:20px auto 0;display: flex;justify-content: space-between;flex-wrap: wrap;}
	.section-wrap1 > .innerbox > .item {position:relative;margin-top:20px;width:100%;height:240px;padding:30px 30px;border-radius:10px;background:rgb(0, 0, 0, 0.2);border:1px dashed rgb(255, 255, 255, 0.4);box-shadow:1px 1px 20px rgb(0, 0, 0, 0.8);}
	.section-wrap1 > .innerbox > .item > h3 {font-size:1.4em;color:rgb(255, 255, 255, 0.95);font-weight:400;}
	.section-wrap1 > .innerbox > .item > .worktxt {padding:10px 0 0 0;font-size:0.9em;color:rgb(255, 255, 255, 0.5);line-height:1.4;}
	.section-wrap1 > .innerbox > .item > .iconbox {position:absolute;bottom:30px;right:30px;}
	.section-wrap1 > .innerbox > .item > .iconbox img {width:80px;height:80px;}
	.section-wrap2 {width:100%;padding:80px 20px;background:url('/img/a1/maing_bg2.jpg') no-repeat center center;background-size:cover}
	.section-wrap2 > h2 {text-align:center;font-size:1.7em;color:#fff;line-height:1;letter-spacing:-0.5px;font-weight:400;}
	.section-wrap2 > h2 strong {font-weight:500;color:#b2944e;}
	.section-wrap2 > .sdtxt {padding-top:10px;text-align:center;font-size:0.9em;color:rgb(255, 255, 255, 0.7);line-height:1.4;}
	.section-wrap2 > .innerbox {width:100%;margin:20px auto 0;display: flex;justify-content: space-between;flex-wrap: wrap;}
	.section-wrap2 > .innerbox > .item {display:none;}
	.section-wrap2 > .innerbox > .item-m {padding:20px 0 0 0;display:block;width:100%;}
	.section-wrap2 > .innerbox > .item-m img {width:100%;}
	.section-wrap3 {width:100%;height:200px;background:url('/img/a1/maing_bg3.jpg') no-repeat center center;background-size:cover;text-align:center;color:#fff;font-family: "Lato", sans-serif;display: flex;flex-direction: column;align-items: center;justify-content: center;}
	.section-wrap3 > .calltit {font-size:1.5em;letter-spacing:-1px;padding:0 5px 0 0;font-weight:400;}
	.section-wrap3 > .callnum {font-size:3em;font-weight:600;font-size:2.7em;line-height:1.2;}
	.section-wrap3 > .calltime {font-size:1.1em;}

	/* 서브페이지 공통 */
	.subtopimg1 {position:relative;width:100%;height:240px;display: inline-block;background:url('/img/a1/simg1_m.jpg') no-repeat center center;background-size:100% 100%;}
	.subtopimg2 {position:relative;width:100%;height:240px;display: inline-block;background:url('/img/a1/simg2_m.jpg') no-repeat center center;background-size:100% 100%;}
	.subtopimg3 {position:relative;width:100%;height:240px;display: inline-block;background:url('/img/a1/simg3_m.jpg') no-repeat center center;background-size:100% 100%;}
	.subtopimg4 {position:relative;width:100%;height:240px;display: inline-block;background:url('/img/a1/simg4_m.jpg') no-repeat center center;background-size:100% 100%;}
	.subtopimg5 {position:relative;width:100%;height:240px;display: inline-block;background:url('/img/a1/simg5_m.jpg') no-repeat center center;background-size:100% 100%;}
	.subtopimg-txt {position: absolute;left: 50%;top:50%;width:100%;transform:translate(-50%,-50%);padding:80px 0 0 0;text-align:center;font-size:1.8em;line-height:1;font-weight:400;color:#fff;}

	/* 서브페이지 */
	#sub-inner {width:100%;margin:0 auto;padding:30px 20px 50px 20px;}
	#sub-inner h1 {font-size:1.64em;line-height:1;font-weight:500;text-align:center;letter-spacing:-1px;}
	#sub-inner2 {width:100%;margin:0 auto !important;padding:0 0 50px 0 !important;}
	#sub-inner2 h1 {padding:50px 0 0 0;font-size:1.7em;line-height:1;font-weight:500;text-align:center;letter-spacing:-1px;}

	.about-imgbox {display:none;}
	.about-imgbox-m {display:block;width:100%;}
	.about-imgbox-m img {width:100%;}
	.about-wrap {width:100%;padding:30px 0 0 0;display: flex;justify-content: space-between;}
	.about-wrap > .left {display:none;}
	.about-wrap > .right {width:100%;border-left:none;padding:0;}
	.about-wrap > .right > span {font-size:1.2em;font-weight:500;}
	.member-wrap1 {width:100%;margin:0 auto;display: flex;justify-content: space-between;flex-wrap: wrap;}
	.member-wrap1 > .left {display:none;}
	.member-wrap1 > .left-m {display:block;width:100%;}
	.member-wrap1 > .left-m img {width:100%;}
	.member-wrap1 > .right {width:100%;padding:30px 0 0 0;}
	.member-wrap1 > .right h3 {font-size:1.1em;font-weight:600;}
	.member-wrap1 > .right ol { padding:10px 0 30px 0; }
	.member-wrap2 {display:block;width:100%;margin:0 auto;padding:30px 0 0 0;border-top:1px solid #efefef;display: flex;justify-content: space-between;flex-wrap: wrap;}
	.member-wrap2 > .left {width:100%;}
	.member-wrap2 > .left img {width:100%;}
	.member-wrap2 > .right {width:100%;padding:30px 0 0 0;}
	.member-wrap2 > .right img {width:100%;}
	.member-wrap3 {display:none;}

	/* 탭메뉴 */
	#tabnav_wrap {display:none;}
	#tabnav_wrap-m {display:block;width:100%;height:60px;z-index:99;padding:0 !important;margin:-7px 0 0 0 !important;}
	.tabnav-m {width:100%;height:60px;display:flex;flex-direction: row;}
	.tabnav-m li {width:31%;}
	.tabnav-m li.w38 {width:38%;}
	.tabnav-m li a {width:100%;height:60px;line-height:60px;display:block;text-align:center;font-size:0.9em;font-weight:400;color:#fff;background:#b2944e url('/img/a1/line_menu.png') no-repeat left center;}
	.tabnav-m li a.active {background-color:#fff;color:#333;}
	.work-wrap1 {width:100%;margin:30px auto 0;padding:0 20px;display: flex;justify-content: flex-start;flex-wrap: wrap;}
	.work-wrap1 > .item {margin:10px 8px 0 0 !important;width:31%;border:1px solid #2d4182;text-align:center;line-height:42px;color:#2d4182;font-size:1em;font-weight:400;}
	.work-wrap2 {width:100%;margin:0 auto;padding:0 20px;}
	.work-wrap2 > h2 {margin-top:40px;font-size:1.15em;font-weight:500;line-height:1.4;color:#2d4182;}
	.work-wrap2 > ul {padding:20px 0 0 0;}
	.work-wrap2 > ul li {padding:0 0 15px 0;list-style:disc inside none;}
	.work-wrap3 {width:100%;margin:30px auto 0;padding:0 20px;display: flex;justify-content: flex-start;flex-wrap: wrap;}
	.work-wrap3 > .item {margin:10px 8px 0 0 !important;width:31%;border:1px solid #2d4182;text-align:center;line-height:42px;color:#2d4182;font-size:1em;font-weight:400;}

	.pro-wrap {width:100%;margin:0 auto;}
	.pro-wrap > h2 {margin-top:60px;font-size:1.5em;font-weight:500;line-height:1;text-align:center;}
	.pro-wrap > h3 {margin-top:60px;font-size:1.5em;font-weight:500;line-height:1.5;text-align:center;letter-spacing:-0.5px;}
	.pro-wrap > h3 > span {color:#d9441d;letter-spacing:-1px;}
	.pro-wrap > .pimgbox1 {margin:30px 0 0 0;padding:30px 20px;background:#fbfbfb;text-align:center;}
	.pro-wrap > .pimgbox1 img {width:100%;}
	.pro-wrap > .pimgbox2 {margin:30px 0 0 0;padding:30px 20px;background:#fbfbfb;text-align:center;}
	.pro-wrap > .pimgbox2 img {width:100%;}
	.pro-wrap > .pimgbox3 {margin:30px 0 0 0;padding:10px 0 10px 0;text-align:center;}
	.pro-wrap > .pimgbox3 img {width:100%;}
	.pro-wrap > .ptxtbox {padding:30px 0 0 0;}
	.pro-wrap > .ptxtbox > span {color:#df5632;}
	.talkb-txt {padding:20px 0 0 0;font-size:1.1em;font-weight:400;}

	.map-wrap {width:100%;margin:0 auto;display: flex;justify-content: space-between;flex-wrap: wrap;}
	.map-wrap > .left {width:100%;border-bottom:1px solid #e0e0e0;}
	.map-wrap > .right {width:100%;padding:30px 0 0 0;}
	.map-wrap > .right  h3 {font-size:1.1em;font-weight:600;}
	.map-wrap > .right  ol {padding:4px 0 30px 0;}
	.map-wrap > .right  ol:last-child {padding:4px 0 0 0;}
	.map-alert {width:100%;margin:30px auto 0;text-align:left;line-height:1.3;font-size:1em !important;}
	
}

/***************************************************************************/
/*          모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)	   		             /
/***************************************************************************/
@media all and (min-width:480px) and (max-width:767px) {

	img {width:100%;}
	input,button,textarea {border-radius:0;} 
	#wrap {font-size:14px;}

	/* header */
	header {display:none;} 
	.mobile-container {display:block;position:fixed;top:0;left:0;width:100%;height:70px;background-color: #fff;z-index:999;box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);}
	.m-logo {width:235px;height:37px;margin:17px 0 0 15px;}
	.m-logo a {width:235px;height:37px;display:block;background: url("/img/a1/logo.png") no-repeat left top;background-size:235px 37px;cursor: pointer;color: transparent;text-indent: -9999px;outline:none;-webkit-tap-highlight-color: rgba(0,0,0,0);}
	.topnav {overflow: hidden;position: relative;}
	.topnav #myLinks {display: none;margin-top:16px;}
	.topnav a {color: white;padding:12px 16px;display: block;}
	.topnav #myLinks a {color: white;background:#363c4c;border-bottom:1px solid rgba(0, 0, 0, 0.3);padding: 15px 20px 15px 22px;font-size: 1em;display: block;outline:none;-webkit-tap-highlight-color: rgba(0,0,0,0);}
	.topnav a.icon {color:#000;display: block;position: absolute;right: 0;top: 7px;font-size:1.4em;height:70px;outline:none;-webkit-tap-highlight-color: rgba(0,0,0,0);}
	.topnav a:hover {color:#000;}
	.dropdown-container {display: none;background-color: #363c4c;font-size:1em;}
	.dropdown-container a {color:#fff !important;font-weight:300 !important;}
	.fa-caret-down {float: right;padding:2px 8px 0 0;}
	.dropdown-btn {padding: 12px 16px;font-size:1em;color: #fff;display: block;width: 100%;text-align: left;cursor: pointer;background:#363c4c;font-weight:300;}
	.dropdown-btn:hover {color: #f1f1f1;}
	.m-active {background-color:#1b923b;color: white;font-weight:400;}

	/* footer */
	.footer-inner {position:relative;width:100%;margin:0 auto;padding:40px 20px;display: flex;flex-direction: column;flex-wrap: wrap;}
	.footer-inner .logobox {width:100%;margin:0 !important;padding:0 !important;}
	.footer-inner .logobox img {width:200px;height:30px;opacity:0.35;}
	.footer-inner .cominfo {width:100%;padding:15px 0 0 0;}
	.footer-inner .cominfo:after {display: block;content: "";clear: both;}
	.footer-inner .cominfo ul {float:left;padding:10px 0 15px 0;}
	.footer-inner .cominfo ul li {float:left;padding-right:20px;color:#8a8f98;font-size:0.8em;line-height:1.6;}
	.footer-inner .cominfo ul li:first-child {width:100%;padding:0;}
	.footer-inner .cominfo .copy {color:#8a8f98;font-size:0.7em;}
	.footer-inner .cominfo .wws {width:100%;padding-top:5px;color:#8a8f98;font-size:0.7em;}
	.footer-inner .cominfo .wws img {width:24px;height:8px;margin:5px 0 0 3px;opacity:0.6;}

	/* 메인 화살표 움직임 */
	#scroll-wrap {position:absolute;width:100%;left:50%;bottom:70px;transform:translate(-50%, 0);}

	/* 동영상 재생 */
	.play_inner > .inner-txt {width:100%;margin:68% auto 0;padding:0 20px;display: flex;flex-direction: column;justify-content: center;text-align:center;}
	.play_inner > .inner-txt .maintxt {font-family: 'SOGANGUNIVERSITYTTF', sans-serif;color:#fff;font-size:1.6em;letter-spacing:-1px;line-height:1.5;font-weight:500;text-shadow:2px 2px 12px rgb(0, 0, 0, 1);}
	.play_inner > .inner-txt button {margin:30px auto 0;background:rgb(7, 33, 50, 0.9) url('/img/a1/arrow_btn.png') no-repeat right 24px;border:1px solid #072132;width:200px;font-size:1.05em;line-height:60px;text-align:center;font-weight:300;color:#fff;}
	
	/* 메인 컨텐츠 */
	.section-wrap1 {width:100%;padding:80px 20px;background:url('/img/a1/maing_bg1.jpg') no-repeat center center;background-size:cover;}
	.section-wrap1 > h2 {text-align:center;font-size:1.7em;color:#fff;line-height:1;letter-spacing:-0.5px;font-weight:400;}
	.section-wrap1 > h2 strong {font-weight:500;color:#b2944e;}
	.section-wrap1 > .sdtxt {padding-top:10px;text-align:center;font-size:0.9em;color:rgb(255, 255, 255, 0.5);line-height:1.4;}
	.section-wrap1 > .innerbox {width:100%;margin:20px auto 0;display: flex;justify-content: space-between;flex-wrap: wrap;}
	.section-wrap1 > .innerbox > .item {position:relative;margin-top:20px;width:100%;height:240px;padding:30px 30px;border-radius:10px;background:rgb(0, 0, 0, 0.2);border:1px dashed rgb(255, 255, 255, 0.4);box-shadow:1px 1px 20px rgb(0, 0, 0, 0.8);}
	.section-wrap1 > .innerbox > .item > h3 {font-size:1.4em;color:rgb(255, 255, 255, 0.95);font-weight:400;}
	.section-wrap1 > .innerbox > .item > .worktxt {padding:10px 0 0 0;font-size:0.9em;color:rgb(255, 255, 255, 0.5);line-height:1.4;}
	.section-wrap1 > .innerbox > .item > .iconbox {position:absolute;bottom:30px;right:30px;}
	.section-wrap1 > .innerbox > .item > .iconbox img {width:80px;height:80px;}
	.section-wrap2 {width:100%;padding:80px 20px;background:url('/img/a1/maing_bg2.jpg') no-repeat center center;background-size:cover}
	.section-wrap2 > h2 {text-align:center;font-size:1.7em;color:#fff;line-height:1;letter-spacing:-0.5px;font-weight:400;}
	.section-wrap2 > h2 strong {font-weight:500;color:#b2944e;}
	.section-wrap2 > .sdtxt {padding-top:10px;text-align:center;font-size:0.9em;color:rgb(255, 255, 255, 0.7);line-height:1.4;}
	.section-wrap2 > .innerbox {width:100%;margin:20px auto 0;display: flex;justify-content: space-between;flex-wrap: wrap;}
	.section-wrap2 > .innerbox > .item {display:none;}
	.section-wrap2 > .innerbox > .item-m {padding:20px 0 0 0;display:block;width:100%;}
	.section-wrap2 > .innerbox > .item-m img {width:100%;}
	.section-wrap3 {width:100%;height:200px;background:url('/img/a1/maing_bg3.jpg') no-repeat center center;background-size:cover;text-align:center;color:#fff;font-family: "Lato", sans-serif;display: flex;flex-direction: column;align-items: center;justify-content: center;}
	.section-wrap3 > .calltit {font-size:1.5em;letter-spacing:-1px;padding:0 5px 0 0;font-weight:400;}
	.section-wrap3 > .callnum {font-size:3em;font-weight:600;font-size:2.7em;line-height:1.2;}
	.section-wrap3 > .calltime {font-size:1.1em;}

	/* 서브페이지 공통 */
	.subtopimg1 {position:relative;width:100%;height:240px;display: inline-block;background:url('/img/a1/simg1_m.jpg') no-repeat center center;background-size:100% 100%;}
	.subtopimg2 {position:relative;width:100%;height:240px;display: inline-block;background:url('/img/a1/simg2_m.jpg') no-repeat center center;background-size:100% 100%;}
	.subtopimg3 {position:relative;width:100%;height:240px;display: inline-block;background:url('/img/a1/simg3_m.jpg') no-repeat center center;background-size:100% 100%;}
	.subtopimg4 {position:relative;width:100%;height:240px;display: inline-block;background:url('/img/a1/simg4_m.jpg') no-repeat center center;background-size:100% 100%;}
	.subtopimg5 {position:relative;width:100%;height:240px;display: inline-block;background:url('/img/a1/simg5_m.jpg') no-repeat center center;background-size:100% 100%;}
	.subtopimg-txt {position: absolute;left: 50%;top:50%;width:100%;transform:translate(-50%,-50%);padding:80px 0 0 0;text-align:center;font-size:1.8em;line-height:1;font-weight:400;color:#fff;}

	/* 서브페이지 */
	#sub-inner {width:100%;margin:0 auto;padding:30px 20px 50px 20px;}
	#sub-inner h1 {font-size:1.64em;line-height:1;font-weight:500;text-align:center;letter-spacing:-1px;}
	#sub-inner2 {width:100%;margin:0 auto !important;padding:0 0 50px 0 !important;}
	#sub-inner2 h1 {padding:50px 0 0 0;font-size:1.7em;line-height:1;font-weight:500;text-align:center;letter-spacing:-1px;}

	.about-imgbox {display:none;}
	.about-imgbox-m {display:block;width:100%;}
	.about-imgbox-m img {width:100%;}
	.about-wrap {width:100%;padding:30px 0 0 0;display: flex;justify-content: space-between;}
	.about-wrap > .left {display:none;}
	.about-wrap > .right {width:100%;border-left:none;padding:0;}
	.about-wrap > .right > span {font-size:1.2em;font-weight:500;}
	.member-wrap1 {width:100%;margin:0 auto;display: flex;justify-content: space-between;flex-wrap: wrap;}
	.member-wrap1 > .left {display:none;}
	.member-wrap1 > .left-m {display:block;width:100%;}
	.member-wrap1 > .left-m img {width:100%;}
	.member-wrap1 > .right {width:100%;padding:30px 0 0 0;}
	.member-wrap1 > .right h3 {font-size:1.1em;font-weight:600;}
	.member-wrap1 > .right ol { padding:10px 0 30px 0; }
	.member-wrap2 {display:block;width:100%;margin:0 auto;padding:30px 0 0 0;border-top:1px solid #efefef;display: flex;justify-content: space-between;flex-wrap: wrap;}
	.member-wrap2 > .left {width:100%;}
	.member-wrap2 > .left img {width:100%;}
	.member-wrap2 > .right {width:100%;padding:30px 0 0 0;}
	.member-wrap2 > .right img {width:100%;}
	.member-wrap3 {display:none;}

	/* 탭메뉴 */
	#tabnav_wrap {display:none;}
	#tabnav_wrap-m {display:block;width:100%;height:60px;z-index:99;padding:0 !important;margin:-7px 0 0 0 !important;}
	.tabnav-m {width:100%;height:60px;display:flex;flex-direction: row;}
	.tabnav-m li {width:31%;}
	.tabnav-m li.w38 {width:38%;}
	.tabnav-m li a {width:100%;height:60px;line-height:60px;display:block;text-align:center;font-size:0.9em;font-weight:400;color:#fff;background:#b2944e url('/img/a1/line_menu.png') no-repeat left center;}
	.tabnav-m li a.active {background-color:#fff;color:#333;}
	.work-wrap1 {width:100%;margin:30px auto 0;padding:0 20px;display: flex;justify-content: flex-start;flex-wrap: wrap;}
	.work-wrap1 > .item {margin:10px 8px 0 0 !important;width:31%;border:1px solid #2d4182;text-align:center;line-height:42px;color:#2d4182;font-size:1em;font-weight:400;}
	.work-wrap2 {width:100%;margin:0 auto;padding:0 20px;}
	.work-wrap2 > h2 {margin-top:40px;font-size:1.15em;font-weight:500;line-height:1.4;color:#2d4182;}
	.work-wrap2 > ul {padding:20px 0 0 0;}
	.work-wrap3 {width:100%;margin:30px auto 0;padding:0 20px;display: flex;justify-content: flex-start;flex-wrap: wrap;}
	.work-wrap3 > .item {margin:10px 8px 0 0 !important;width:31%;border:1px solid #2d4182;text-align:center;line-height:42px;color:#2d4182;font-size:1em;font-weight:400;}


	.pro-wrap {width:100%;margin:0 auto;}
	.pro-wrap > h2 {margin-top:60px;font-size:1.5em;font-weight:500;line-height:1;text-align:center;}
	.pro-wrap > h3 {margin-top:60px;font-size:1.5em;font-weight:500;line-height:1.5;text-align:center;letter-spacing:-0.5px;}
	.pro-wrap > h3 > span {color:#d9441d;letter-spacing:-1px;}
	.pro-wrap > .pimgbox1 {margin:30px 0 0 0;padding:30px 20px;background:#fbfbfb;text-align:center;}
	.pro-wrap > .pimgbox1 img {width:100%;}
	.pro-wrap > .pimgbox2 {margin:30px 0 0 0;padding:30px 20px;background:#fbfbfb;text-align:center;}
	.pro-wrap > .pimgbox2 img {width:100%;}
	.pro-wrap > .pimgbox3 {margin:30px 0 0 0;padding:10px 0 10px 0;text-align:center;}
	.pro-wrap > .pimgbox3 img {width:100%;}
	.pro-wrap > .ptxtbox {padding:30px 0 0 0;}
	.pro-wrap > .ptxtbox > span {color:#df5632;}
	.talkb-txt {padding:20px 0 0 0;font-size:1.1em;font-weight:400;}

	.map-wrap {width:100%;margin:0 auto;display: flex;justify-content: space-between;flex-wrap: wrap;}
	.map-wrap > .left {width:100%;border-bottom:1px solid #e0e0e0;}
	.map-wrap > .right {width:100%;padding:30px 0 0 0;}
	.map-wrap > .right  h3 {font-size:1.1em;font-weight:600;}
	.map-wrap > .right  ol {padding:4px 0 30px 0;}
	.map-wrap > .right  ol:last-child {padding:4px 0 0 0;}
	.map-alert {width:100%;margin:30px auto 0;text-align:left;line-height:1.3;font-size:1em !important;}
	
	
	
}

/***************************************************************************/
/*					       테블릿 세로 (해상도 768px ~ 1023px)			                 /
/***************************************************************************/
@media all and (min-width:768px) and (max-width:1023px) { 

	img {width:100%;}
	input,button,textarea {border-radius:0;} 
	#wrap {font-size:14px;}

	/* header */
	header {display:none;} 
	.mobile-container {display:block;position:fixed;top:0;left:0;width:100%;height:70px;background-color: #fff;z-index:999;box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);}
	.m-logo {width:235px;height:37px;margin:17px 0 0 15px;}
	.m-logo a {width:235px;height:37px;display:block;background: url("/img/a1/logo.png") no-repeat left top;background-size:235px 37px;cursor: pointer;color: transparent;text-indent: -9999px;outline:none;-webkit-tap-highlight-color: rgba(0,0,0,0);}
	.topnav {overflow: hidden;position: relative;}
	.topnav #myLinks {display: none;margin-top:16px;}
	.topnav a {color: white;padding:12px 16px;display: block;}
	.topnav #myLinks a {color: white;background:#363c4c;border-bottom:1px solid rgba(0, 0, 0, 0.3);padding: 15px 20px 15px 22px;font-size: 1em;display: block;outline:none;-webkit-tap-highlight-color: rgba(0,0,0,0);}
	.topnav a.icon {color:#000;display: block;position: absolute;right: 0;top: 7px;font-size:1.4em;height:70px;outline:none;-webkit-tap-highlight-color: rgba(0,0,0,0);}
	.topnav a:hover {color:#000;}
	.dropdown-container {display: none;background-color: #363c4c;font-size:1em;}
	.dropdown-container a {color:#fff !important;font-weight:300 !important;}
	.fa-caret-down {float: right;padding:2px 8px 0 0;}
	.dropdown-btn {padding: 12px 16px;font-size:1em;color: #fff;display: block;width: 100%;text-align: left;cursor: pointer;background:#363c4c;font-weight:300;}
	.dropdown-btn:hover {color: #f1f1f1;}
	.m-active {background-color:#1b923b;color: white;font-weight:400;}

	/* footer */
	.footer-inner {position:relative;width:100%;margin:0 auto;padding:40px 20px;display: flex;flex-direction: column;flex-wrap: wrap;}
	.footer-inner .logobox {width:100%;margin:0 !important;padding:0 !important;}
	.footer-inner .logobox img {width:200px;height:30px;opacity:0.35;}
	.footer-inner .cominfo {width:100%;padding:15px 0 0 0;}
	.footer-inner .cominfo:after {display: block;content: "";clear: both;}
	.footer-inner .cominfo ul {float:left;padding:10px 0 15px 0;}
	.footer-inner .cominfo ul li {float:left;padding-right:20px;color:#8a8f98;font-size:0.8em;line-height:1.6;}
	.footer-inner .cominfo ul li:first-child {width:100%;padding:0;}
	.footer-inner .cominfo .copy {color:#8a8f98;font-size:0.7em;}
	.footer-inner .cominfo .wws {width:100%;padding-top:5px;color:#8a8f98;font-size:0.7em;}
	.footer-inner .cominfo .wws img {width:24px;height:8px;margin:5px 0 0 3px;opacity:0.6;}

	/* 메인 화살표 움직임 */
	#scroll-wrap {position:absolute;width:100%;left:50%;bottom:70px;transform:translate(-50%, 0);}

	/* 동영상 재생 */
	.play_inner > .inner-txt {width:100%;margin:68% auto 0;padding:0 20px;display: flex;flex-direction: column;justify-content: center;text-align:center;}
	.play_inner > .inner-txt .maintxt {font-family: 'SOGANGUNIVERSITYTTF', sans-serif;color:#fff;font-size:1.6em;letter-spacing:-1px;line-height:1.5;font-weight:500;text-shadow:2px 2px 12px rgb(0, 0, 0, 1);}
	.play_inner > .inner-txt button {margin:30px auto 0;background:rgb(7, 33, 50, 0.9) url('/img/a1/arrow_btn.png') no-repeat right 24px;border:1px solid #072132;width:200px;font-size:1.05em;line-height:60px;text-align:center;font-weight:300;color:#fff;}
	
	/* 메인 컨텐츠 */
	.section-wrap1 {width:100%;padding:80px 20px;background:url('/img/a1/maing_bg1.jpg') no-repeat center center;background-size:cover;}
	.section-wrap1 > h2 {text-align:center;font-size:1.7em;color:#fff;line-height:1;letter-spacing:-0.5px;font-weight:400;}
	.section-wrap1 > h2 strong {font-weight:500;color:#b2944e;}
	.section-wrap1 > .sdtxt {padding-top:10px;text-align:center;font-size:0.9em;color:rgb(255, 255, 255, 0.5);line-height:1.4;}
	.section-wrap1 > .innerbox {width:100%;margin:20px auto 0;display: flex;justify-content: space-between;flex-wrap: wrap;}
	.section-wrap1 > .innerbox > .item {position:relative;margin-top:20px;width:100%;height:240px;padding:30px 30px;border-radius:10px;background:rgb(0, 0, 0, 0.2);border:1px dashed rgb(255, 255, 255, 0.4);box-shadow:1px 1px 20px rgb(0, 0, 0, 0.8);}
	.section-wrap1 > .innerbox > .item > h3 {font-size:1.4em;color:rgb(255, 255, 255, 0.95);font-weight:400;}
	.section-wrap1 > .innerbox > .item > .worktxt {padding:10px 0 0 0;font-size:0.9em;color:rgb(255, 255, 255, 0.5);line-height:1.4;}
	.section-wrap1 > .innerbox > .item > .iconbox {position:absolute;bottom:30px;right:30px;}
	.section-wrap1 > .innerbox > .item > .iconbox img {width:80px;height:80px;}
	.section-wrap2 {width:100%;padding:80px 20px;background:url('/img/a1/maing_bg2.jpg') no-repeat center center;background-size:cover}
	.section-wrap2 > h2 {text-align:center;font-size:1.7em;color:#fff;line-height:1;letter-spacing:-0.5px;font-weight:400;}
	.section-wrap2 > h2 strong {font-weight:500;color:#b2944e;}
	.section-wrap2 > .sdtxt {padding-top:10px;text-align:center;font-size:0.9em;color:rgb(255, 255, 255, 0.7);line-height:1.4;}
	.section-wrap2 > .innerbox {width:100%;margin:20px auto 0;display: flex;justify-content: space-between;flex-wrap: wrap;}
	.section-wrap2 > .innerbox > .item {display:none;}
	.section-wrap2 > .innerbox > .item-m {padding:20px 0 0 0;display:block;width:100%;}
	.section-wrap2 > .innerbox > .item-m img {width:100%;}
	.section-wrap3 {width:100%;height:200px;background:url('/img/a1/maing_bg3.jpg') no-repeat center center;background-size:cover;text-align:center;color:#fff;font-family: "Lato", sans-serif;display: flex;flex-direction: column;align-items: center;justify-content: center;}
	.section-wrap3 > .calltit {font-size:1.5em;letter-spacing:-1px;padding:0 5px 0 0;font-weight:400;}
	.section-wrap3 > .callnum {font-size:3em;font-weight:600;font-size:2.7em;line-height:1.2;}
	.section-wrap3 > .calltime {font-size:1.1em;}

	/* 서브페이지 공통 */
	.subtopimg1 {position:relative;width:100%;height:240px;display: inline-block;background:url('/img/a1/simg1_m.jpg') no-repeat center center;background-size:100% 100%;}
	.subtopimg2 {position:relative;width:100%;height:240px;display: inline-block;background:url('/img/a1/simg2_m.jpg') no-repeat center center;background-size:100% 100%;}
	.subtopimg3 {position:relative;width:100%;height:240px;display: inline-block;background:url('/img/a1/simg3_m.jpg') no-repeat center center;background-size:100% 100%;}
	.subtopimg4 {position:relative;width:100%;height:240px;display: inline-block;background:url('/img/a1/simg4_m.jpg') no-repeat center center;background-size:100% 100%;}
	.subtopimg5 {position:relative;width:100%;height:240px;display: inline-block;background:url('/img/a1/simg5_m.jpg') no-repeat center center;background-size:100% 100%;}
	.subtopimg-txt {position: absolute;left: 50%;top:50%;width:100%;transform:translate(-50%,-50%);padding:80px 0 0 0;text-align:center;font-size:1.8em;line-height:1;font-weight:400;color:#fff;}

	/* 서브페이지 */
	#sub-inner {width:100%;margin:0 auto;padding:30px 20px 50px 20px;}
	#sub-inner h1 {font-size:1.64em;line-height:1;font-weight:500;text-align:center;letter-spacing:-1px;}
	#sub-inner2 {width:100%;margin:0 auto !important;padding:0 0 50px 0 !important;}
	#sub-inner2 h1 {padding:50px 0 0 0;font-size:1.7em;line-height:1;font-weight:500;text-align:center;letter-spacing:-1px;}

	.about-imgbox {display:none;}
	.about-imgbox-m {display:block;width:100%;}
	.about-imgbox-m img {width:100%;}
	.about-wrap {width:100%;padding:30px 0 0 0;display: flex;justify-content: space-between;}
	.about-wrap > .left {display:none;}
	.about-wrap > .right {width:100%;border-left:none;padding:0;}
	.about-wrap > .right > span {font-size:1.2em;font-weight:500;}
	.member-wrap1 {width:100%;margin:0 auto;display: flex;justify-content: space-between;flex-wrap: wrap;}
	.member-wrap1 > .left {display:none;}
	.member-wrap1 > .left-m {display:block;width:100%;}
	.member-wrap1 > .left-m img {width:100%;}
	.member-wrap1 > .right {width:100%;padding:30px 0 0 0;}
	.member-wrap1 > .right h3 {font-size:1.1em;font-weight:600;}
	.member-wrap1 > .right ol { padding:10px 0 30px 0; }
	.member-wrap2 {display:block;width:100%;margin:0 auto;padding:30px 0 0 0;border-top:1px solid #efefef;display: flex;justify-content: space-between;flex-wrap: wrap;}
	.member-wrap2 > .left {width:100%;}
	.member-wrap2 > .left img {width:100%;}
	.member-wrap2 > .right {width:100%;padding:30px 0 0 0;}
	.member-wrap2 > .right img {width:100%;}
	.member-wrap3 {display:none;}

	/* 탭메뉴 */
	#tabnav_wrap {display:none;}
	#tabnav_wrap-m {display:block;width:100%;height:60px;z-index:99;padding:0 !important;margin:-7px 0 0 0 !important;}
	.tabnav-m {width:100%;height:60px;display:flex;flex-direction: row;}
	.tabnav-m li {width:31%;}
	.tabnav-m li.w38 {width:38%;}
	.tabnav-m li a {width:100%;height:60px;line-height:60px;display:block;text-align:center;font-size:0.9em;font-weight:400;color:#fff;background:#b2944e url('/img/a1/line_menu.png') no-repeat left center;}
	.tabnav-m li a.active {background-color:#fff;color:#333;}
	.work-wrap1 {width:100%;margin:30px auto 0;padding:0 20px;display: flex;justify-content: flex-start;flex-wrap: wrap;}
	.work-wrap1 > .item {margin:10px 8px 0 0 !important;width:31%;border:1px solid #2d4182;text-align:center;line-height:42px;color:#2d4182;font-size:1em;font-weight:400;}
	.work-wrap2 {width:100%;margin:0 auto;padding:0 20px;}
	.work-wrap2 > h2 {margin-top:40px;font-size:1.15em;font-weight:500;line-height:1.4;color:#2d4182;}
	.work-wrap2 > ul {padding:20px 0 0 0;}
	.work-wrap3 {width:100%;margin:30px auto 0;padding:0 20px;display: flex;justify-content: flex-start;flex-wrap: wrap;}
	.work-wrap3 > .item {margin:10px 8px 0 0 !important;width:31%;border:1px solid #2d4182;text-align:center;line-height:42px;color:#2d4182;font-size:1em;font-weight:400;}

	.pro-wrap {width:100%;margin:0 auto;}
	.pro-wrap > h2 {margin-top:60px;font-size:1.5em;font-weight:500;line-height:1;text-align:center;}
	.pro-wrap > h3 {margin-top:60px;font-size:1.5em;font-weight:500;line-height:1.5;text-align:center;letter-spacing:-0.5px;}
	.pro-wrap > h3 > span {color:#d9441d;letter-spacing:-1px;}
	.pro-wrap > .pimgbox1 {margin:30px 0 0 0;padding:30px 20px;background:#fbfbfb;text-align:center;}
	.pro-wrap > .pimgbox1 img {width:100%;}
	.pro-wrap > .pimgbox2 {margin:30px 0 0 0;padding:30px 20px;background:#fbfbfb;text-align:center;}
	.pro-wrap > .pimgbox2 img {width:100%;}
	.pro-wrap > .pimgbox3 {margin:30px 0 0 0;padding:10px 0 10px 0;text-align:center;}
	.pro-wrap > .pimgbox3 img {width:100%;}
	.pro-wrap > .ptxtbox {padding:30px 0 0 0;}
	.pro-wrap > .ptxtbox > span {color:#df5632;}
	.talkb-txt {padding:20px 0 0 0;font-size:1.1em;font-weight:400;}

	.map-wrap {width:100%;margin:0 auto;display: flex;justify-content: space-between;flex-wrap: wrap;}
	.map-wrap > .left {width:100%;border-bottom:1px solid #e0e0e0;}
	.map-wrap > .right {width:100%;padding:30px 0 0 0;}
	.map-wrap > .right  h3 {font-size:1.1em;font-weight:600;}
	.map-wrap > .right  ol {padding:4px 0 30px 0;}
	.map-wrap > .right  ol:last-child {padding:4px 0 0 0;}
	.map-alert {width:100%;margin:30px auto 0;text-align:left;line-height:1.3;font-size:1em !important;}
	
		
}

/***************************************************************************/
/*                                           아이패드 프로									             /
/***************************************************************************/
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) {

	img {width:100%;}
	input,button,textarea {border-radius:0;} 
	#wrap {font-size:15px;}

	/* header */
	header {display:none;} 
	.mobile-container {display:block;position:fixed;top:0;left:0;width:100%;height:70px;background-color: #fff;z-index:999;box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);}
	.m-logo {width:235px;height:37px;margin:17px 0 0 15px;}
	.m-logo a {width:235px;height:37px;display:block;background: url("../img/logo.png") no-repeat left top;background-size:235px 37px;cursor: pointer;color: transparent;text-indent: -9999px;outline:none;-webkit-tap-highlight-color: rgba(0,0,0,0);}
	.topnav {overflow: hidden;position: relative;}
	.topnav #myLinks {display: none;margin-top:16px;}
	.topnav a {color: white;padding:12px 16px;display: block;}
	.topnav #myLinks a {color: white;background:#363c4c;border-bottom:1px solid rgba(0, 0, 0, 0.3);padding: 15px 20px 15px 22px;font-size: 1em;display: block;outline:none;-webkit-tap-highlight-color: rgba(0,0,0,0);}
	.topnav a.icon {color:#000;display: block;position: absolute;right: 0;top: 7px;font-size:1.4em;height:70px;outline:none;-webkit-tap-highlight-color: rgba(0,0,0,0);}
	.topnav a:hover {color:#000;}
	.dropdown-container {display: none;background-color: #363c4c;font-size:1em;}
	.dropdown-container a {color:#fff !important;font-weight:300 !important;}
	.fa-caret-down {float: right;padding:2px 8px 0 0;}
	.dropdown-btn {padding: 12px 16px;font-size:1em;color: #fff;display: block;width: 100%;text-align: left;cursor: pointer;background:#363c4c;font-weight:300;}
	.dropdown-btn:hover {color: #f1f1f1;}
	.m-active {background-color:#1b923b;color: white;font-weight:400;}

	/* footer */
	.footer-inner {position:relative;width:100%;margin:0 auto;padding:40px 20px;display: flex;flex-direction: column;flex-wrap: wrap;}
	.footer-inner .logobox {width:100%;margin:0 !important;padding:0 !important;}
	.footer-inner .logobox img {width:200px;height:30px;opacity:0.35;}
	.footer-inner .cominfo {width:100%;padding:15px 0 0 0;}
	.footer-inner .cominfo:after {display: block;content: "";clear: both;}
	.footer-inner .cominfo ul {float:left;padding:10px 0 15px 0;}
	.footer-inner .cominfo ul li {float:left;padding-right:20px;color:#8a8f98;font-size:0.8em;line-height:1.6;}
	.footer-inner .cominfo ul li:first-child {width:100%;padding:0;}
	.footer-inner .cominfo .copy {color:#8a8f98;font-size:0.7em;}
	.footer-inner .cominfo .wws {width:100%;padding-top:5px;color:#8a8f98;font-size:0.7em;}
	.footer-inner .cominfo .wws img {width:24px;height:8px;margin:5px 0 0 3px;opacity:0.6;}

	/* 메인 화살표 움직임 */
	#scroll-wrap {position:absolute;width:100%;left:50%;bottom:70px;transform:translate(-50%, 0);}

	/* 동영상재생 */
	.play_inner {position:absolute;width: 100%;height:100%;background:rgb(0, 0, 0, 0);z-index:50;}
	.play_inner > .inner-txt {width:100%;margin:60% auto 0;padding:0 20px;display: flex;flex-direction: column;justify-content: center;text-align:center;}
	.play_inner > .inner-txt .maintxt {font-family: 'SOGANGUNIVERSITYTTF', sans-serif;color:#fff;font-size:3em;letter-spacing:-1.5px;line-height:1.5;font-weight:500;text-shadow:2px 2px 12px rgb(0, 0, 0, 1);}
	.play_inner > .inner-txt button {margin:50px auto 0;background:rgb(7, 33, 50, 0.9) url('/img/a1/arrow_btn.png') no-repeat right 26px;border:1px solid #072132;width:240px;line-height:64px;text-align:center;font-weight:300;color:#fff;}


	/* 메인 컨텐츠 */
	.section-wrap1 {width:100%;padding:100px 40px;background:url('/img/a1/maing_bg1.jpg') no-repeat center center;background-size:cover;}
	.section-wrap1 > h2 {text-align:center;font-size:2.4em;color:#fff;line-height:1;letter-spacing:-1.5px;font-weight:500;}
	.section-wrap1 > h2 strong {font-weight:500;color:#b2944e;}
	.section-wrap1 > .sdtxt {padding-top:20px;text-align:center;font-size:0.9em;color:rgb(255, 255, 255, 0.5);line-height:1.4;}
	.section-wrap1 > .innerbox {width:100%;margin:80px auto 0;display: flex;justify-content: space-between;}
	.section-wrap1 > .innerbox > .item {position:relative;width:32%;height:340px;padding:50px 30px;border-radius:10px;background:rgb(0, 0, 0, 0.2);border:1px dashed rgb(255, 255, 255, 0.4);box-shadow:1px 1px 20px rgb(0, 0, 0, 0.8);}
	.section-wrap1 > .innerbox > .item > h3 {font-size:1.5em;color:rgb(255, 255, 255, 0.95);font-weight:400;}
	.section-wrap1 > .innerbox > .item > .worktxt {padding:10px 0 0 0;font-size:0.9em;color:rgb(255, 255, 255, 0.5);line-height:1.4;}
	.section-wrap1 > .innerbox > .item > .iconbox {position:absolute;bottom:50px;right:60px;}
	.section-wrap1 > .innerbox > .item > .iconbox img {width:80px;height:80px;}
	.section-wrap2 {width:100%;padding:100px 40px;background:url('/img/a1/maing_bg2.jpg') no-repeat center center;background-size:cover}
	.section-wrap2 > h2 {text-align:center;font-size:2.4em;color:#fff;line-height:1;letter-spacing:-1.5px;font-weight:500;}
	.section-wrap2 > h2 strong {font-weight:500;color:#b2944e;}
	.section-wrap2 > .sdtxt {padding-top:20px;text-align:center;font-size:0.9em;color:rgb(255, 255, 255, 0.7);line-height:1.4;}
	.section-wrap2 > .innerbox {width:100%;margin:80px auto 0;display: flex;justify-content: space-between;}
	.section-wrap2 > .innerbox > .item {width:32%;}
	.section-wrap2 > .innerbox > .item-m {display:none;}
	.section-wrap3 {width:100%;height:248px;background:url('/img/a1/maing_bg3.jpg') no-repeat center center;background-size:cover;text-align:center;color:#fff;font-family: "Lato", sans-serif;display: flex;flex-direction: column;align-items: center;justify-content: center;}
	.section-wrap3 > .calltit {font-size:1.5em;letter-spacing:-1px;padding:0 5px 0 0;font-weight:400;}
	.section-wrap3 > .callnum {font-size:3em;font-weight:600;font-size:2.7em;}
	.section-wrap3 > .calltime {font-size:1.1em;}

	/* 서브페이지 공통 */
	.subtopimg1 {position:relative;width:100%;height:240px;display: inline-block;background:url('/img/a1/simg1.jpg') no-repeat center center;background-size:100% 100%;}
	.subtopimg2 {position:relative;width:100%;height:240px;display: inline-block;background:url('/img/a1/simg2.jpg') no-repeat center center;background-size:100% 100%;}
	.subtopimg3 {position:relative;width:100%;height:240px;display: inline-block;background:url('/img/a1/simg3.jpg') no-repeat center center;background-size:100% 100%;}
	.subtopimg4 {position:relative;width:100%;height:240px;display: inline-block;background:url('/img/a1/simg4.jpg') no-repeat center center;background-size:100% 100%;}
	.subtopimg5 {position:relative;width:100%;height:240px;display: inline-block;background:url('/img/a1/simg5_m.jpg') no-repeat center center;background-size:100% 100%;}
	.subtopimg-txt {position: absolute;left: 50%;top:50%;width:100%;transform:translate(-50%,-50%);padding:80px 0 0 0;text-align:center;font-size:1.8em;line-height:1;font-weight:400;color:#fff;}

	/* 서브페이지 */
	#sub-inner {width:100%;margin:0 auto;padding:40px 40px 60px 40px;}
	#sub-inner h1 {font-size:1.64em;line-height:1;font-weight:500;text-align:center;letter-spacing:-1px;}
	#sub-inner2 {width:100%;margin:0 auto !important;padding:0 0 60px 0 !important;}
	#sub-inner2 h1 {padding:50px 0 0 0;font-size:1.7em;line-height:1;font-weight:500;text-align:center;letter-spacing:-1px;}

	.about-imgbox {display:block;}
	.about-imgbox img {width:100%;}
	.about-imgbox-m {display:none;}
	.about-wrap {width:100%;padding:50px 0 0 0;display: flex;justify-content: space-between;}
	.about-wrap > .left {width:35%;text-align:right;}
	.about-wrap > .right {width:62%;border-left:1px solid #efefef;padding:0 80px 0 40px;}
	.about-wrap > .right > span {font-size:1.4em;font-weight:500;}
	.member-wrap1 {width:100%;margin:0 auto;display: flex;justify-content: space-between;}
	.member-wrap1 > .left {width:48%;}
	.member-wrap1 > .left img {width:100%;}
	.member-wrap1 > .left-m {display:none;}
	.member-wrap1 > .right {width:48%;padding:0 0 0 10px;}
	.member-wrap1 > .right h3 {font-size:1.1em;font-weight:600;}
	.member-wrap1 > .right ol { padding:5px 0 26px 0; }
	.member-wrap3 {display:block;width:100%;margin:40px auto 0;padding:40px 0 0 0;border-top:1px solid #efefef;display: flex;justify-content: space-between;}
	.member-wrap3 > .left {width:48%;}
	.member-wrap3 > .left img {width:100%;}
	.member-wrap3 > .right {width:48%;}
	.member-wrap3 > .right img {width:100%;}
	.member-wrap2 {display:none;}

	/* 탭메뉴 */
	#tabnav_wrap {display:none;}
	#tabnav_wrap-m {display:block;width:100%;height:60px;z-index:99;padding:0 !important;margin:-7px 0 0 0 !important;}
	.tabnav-m {width:100%;height:60px;display:flex;flex-direction: row;}
	.tabnav-m li {width:31%;}
	.tabnav-m li.w38 {width:38%;}
	.tabnav-m li a {width:100%;height:60px;line-height:60px;display:block;text-align:center;font-size:0.9em;font-weight:400;color:#fff;background:#b2944e url('/img/a1/line_menu.png') no-repeat left center;}
	.tabnav-m li a.active {background-color:#fff;color:#333;}
	.work-wrap1 {width:100%;margin:80px auto 0;padding:0 40px;display: flex;justify-content: space-between;}
	.work-wrap1 > .item {width:16%;border:1px solid #2d4182;text-align:center;line-height:50px;color:#2d4182;font-size:1em;font-weight:400;}
	.work-wrap2 {width:730px;margin:0 auto;}
	.work-wrap2 > h2 {margin-top:80px;font-size:1.36em;font-weight:500;color:#2d4182;}
	.work-wrap2 > ul {padding:20px 0 0 0;}
	.work-wrap2 > ul li {padding:0 0 15px 0;list-style:disc inside none;}
	.work-wrap3 {width:100%;margin:80px auto 0;padding:0 40px;display: flex;justify-content: center;}
	.work-wrap3 > .item {width:16%;border:1px solid #2d4182;text-align:center;line-height:50px;color:#2d4182;font-size:1em;font-weight:400;}

	.pro-wrap {width:100%;margin:0 auto;}
	.pro-wrap > h2 {margin-top:60px;font-size:1.5em;font-weight:500;line-height:1;text-align:center;}
	.pro-wrap > h3 {margin-top:60px;font-size:1.5em;font-weight:500;line-height:1.5;text-align:center;letter-spacing:-0.5px;}
	.pro-wrap > h3 > span {color:#d9441d;letter-spacing:-1px;}
	.pro-wrap > .pimgbox1 {margin:30px 0 0 0;padding:30px 20px;background:#fbfbfb;text-align:center;}
	.pro-wrap > .pimgbox1 img {width:100%;}
	.pro-wrap > .pimgbox2 {margin:30px 0 0 0;padding:30px 20px;background:#fbfbfb;text-align:center;}
	.pro-wrap > .pimgbox2 img {width:100%;}
	.pro-wrap > .pimgbox3 {margin:30px 0 0 0;padding:10px 0 10px 0;text-align:center;}
	.pro-wrap > .pimgbox3 img {width:100%;}
	.pro-wrap > .ptxtbox {padding:30px 0 0 0;}
	.pro-wrap > .ptxtbox > span {color:#df5632;}
	.talkb-txt {padding:20px 0 0 0;font-size:1.1em;font-weight:400;}

	.map-wrap {width:100%;margin:0 auto;display: flex;justify-content: space-between;flex-wrap: wrap;}
	.map-wrap > .left {width:100%;border-bottom:1px solid #e0e0e0;}
	.map-wrap > .right {width:100%;padding:30px 0 0 0;}
	.map-wrap > .right  h3 {font-size:1.1em;font-weight:600;}
	.map-wrap > .right  ol {padding:4px 0 30px 0;}
	.map-wrap > .right  ol:last-child {padding:4px 0 0 0;}
	.map-alert {width:100%;margin:30px auto 0;text-align:left;line-height:1.3;font-size:1em !important;}

}